.pai {
    display: flex;
    flex-wrap: wrap;
    width:50%;
    height: auto;
    min-height: 100px;
    background: blue;
    margin: auto;
    position: relative;
    top: 100px;
}

.filho {
    flex: 1 1 100px;
    background: #ff0000;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    height: 75px;
    margin: 50px;
}